params {
    // custom genomes reference file paths
    genomes {
        'GRCh38_full_analysis_set_plus_decoy_hla' {
            // generic
            fasta       = "${params.custom_genome_base}/GRCh38_full_analysis_set_plus_decoy_hla/genome.fa"
            fai         = "${params.custom_genome_base}/GRCh38_full_analysis_set_plus_decoy_hla/genome.fa.fai"
            fasta_dict  = "${params.custom_genome_base}/GRCh38_full_analysis_set_plus_decoy_hla/genome.dict"
            marker_bed     = "${projectDir}/data/custom_reference_genomes/GRCh38/conpair/GRCh38.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.liftover.bed"
            marker_txt     = "${projectDir}/data/custom_reference_genomes/GRCh38/conpair/GRCh38.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.liftover.txt"
            high_depth_regions = "${params.custom_genome_base}/GRCh38_full_analysis_set_plus_decoy_hla/shared/HiDepth_mrg1000_no_exon_coreChrs_v3.bed.gz"
            high_depth_regions_tbi = "${params.custom_genome_base}/GRCh38_full_analysis_set_plus_decoy_hla/shared/HiDepth_mrg1000_no_exon_coreChrs_v3.bed.gz.tbi"
        }
        'GRCH37d5' {
            // generic
            fasta       = "${params.custom_genome_base}/GRCH37d5/genome.fa"
            fai         = "${params.custom_genome_base}/GRCH37d5/genome.fa.fai"
            fasta_dict  = "${params.custom_genome_base}/GRCH37d5/genome.dict"
            marker_bed     = "${projectDir}/data/custom_reference_genomes/GRCh37/conpair/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.bed"
            marker_txt     = "${projectDir}/data/custom_reference_genomes/GRCh37/conpair/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.txt"
            high_depth_regions = "${params.custom_genome_base}/GRCH37d5/shared/ucscHiDepth_0.01_mrg1000_no_exon_coreChrs.bed.gz"
            high_depth_regions_tbi = "${params.custom_genome_base}/GRCH37d5/shared/ucscHiDepth_0.01_mrg1000_no_exon_coreChrs.bed.gz.tbi"
        }
        'your_genome_label' {
            // generic
            fasta       = "/path/to/your/genome.fa"
            fai         = "/path/to/your/genome.fa.fai"
        }
    }
}
